body {
    background: url(./images/tim-mossholder-269932-unsplash.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Indie Flower', cursive;
    color:black;  
}



