body {
    background: url(./Tala.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    color:black;
}


#content {
    text-align: center;
    padding-top: 25%;
}